<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.microecom.mecordercommand.mapper.LineItemMapper">

	<!--<insert id="insert" keyColumn="id" keyProperty="id"-->
			<!--parameterType="com.microecom.mecordercommand.model.LineItem" useGeneratedKeys="true">-->
	<insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.microecom.mecordercommand.model.LineItem">
		insert into line_item (
		  line_item_id,
		  user_order_id,
		  product_id,
		  product_name,
		  quantity,
		  unit_price
		) values (
		  #{lineItemId},
		  #{userOrderId},
		  #{productId},
		  #{productName},
		  #{quantity},
		  #{unitPrice}
		)
	</insert>

</mapper>